#background {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #000000, #ffffff),
    linear-gradient(from 0% 100% to 100% 0%, rgba(255,255,255,0.3), rgba(39,30,255,0.3));;
}

#parameterBox {
    -fx-background-color: #b9b9b9;
    -fx-wrap-text: true;
    -fx-border-color: #000000;
}

#creationBox {
    -fx-background-color: #b9b9b9;
    -fx-wrap-text: true;
    -fx-border-color: #000000;
}

#createFractalButton {
    -fx-padding: 15px 15px 15px 15px;
    -fx-border-radius: 60px;
    -fx-font-family: Verdana;
    -fx-font-size: 12px;
    -fx-background-radius: 30px;
}